<a href="https://colab.research.google.com/github/rajeev541/Blog_Website/blob/main/ML23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

create a Pandas series and convert it into a dataframe.

In [1]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
item = ['Computer', 'Printer', 'Tablet', 'Desk', 'Chair']

In [ ]:
my_series1 = pd.Series(item)

In [ ]:
print(my_series1)

0    Computer
1     Printer
2      Tablet
3        Desk
4       Chair
dtype: object

In [ ]:
df1 = my_series1.to_frame()

In [ ]:
print(df1)

          0
0  Computer
1   Printer
2    Tablet
3      Desk
4     Chair

In [ ]:
print(type(df1))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
my_series2 = pd.Series(item)

In [ ]:
print(my_series2)

0    Computer
1     Printer
2      Tablet
3        Desk
4       Chair
dtype: object

In [ ]:
df2 = pd.DataFrame(my_series2)

In [ ]:
print(df2)

          0
0  Computer
1   Printer
2    Tablet
3      Desk
4     Chair

In [ ]:
print(type(df2))

<class 'pandas.core.frame.DataFrame'>